<h6>Documentos</h6>
<mat-tab-group>
    <mat-tab label="Todos" ><app-detalle-documentos ></app-detalle-documentos></mat-tab>
    <mat-tab label="Nuevos"><app-detalle-documentos ></app-detalle-documentos></mat-tab>
    <mat-tab label="En Proceso"><app-detalle-documentos ></app-detalle-documentos> </mat-tab>
    <mat-tab label ="Firmado"><app-detalle-documentos ></app-detalle-documentos></mat-tab>
    <mat-tab label ="Por Firmar"><app-detalle-documentos ></app-detalle-documentos></mat-tab>
</mat-tab-group>